{erl_opts, [debug_info]}.

{deps, 
    [
        {cowboy, "2.6.1"},
        {jsx, "2.9.0"}
    ]
}.

{relx, 
    [
        {release,
            {fiftypm_api, "0.1.0"},
            [fiftypm_api, cowboy, sasl, mnesia, jsx],
            [
                {dev_mode, false},
                {include_erts, true},
                {extended_start_script, true},
                {vm_args_src, "config/vm.args.src"}
            ]
        }
    ]
}.

{shell, 
    [
        {config, "config/sys.config"},
        {apps, [fiftypm_api]}
    ]
}.

{profiles, 
    [
        {stg_cohost, % Special profile used if staging deployed on the production cluster
            [
                {erl_opts, 
                    [
                        {d, 'STAGING'},
                        {d, 'COHOST_STAGING'}
                    ]
                }
            ]
        },
        {dev_cohost, 
            [
                {erl_opts, 
                    [
                        {d, 'DEVELOP'},
                        {d, 'COHOST_STAGING'}
                    ]
                }
            ]
        }
    ]
}.