{erl_opts, [debug_info]}.

{deps, 
    [
        {cowboy, "2.6.1"},
        {jsx, "2.9.0"}
    ]
}.

{relx, 
    [
        {release,
            {fiftypm_api, "0.1.0"},
            [fiftypm_api, cowboy, jsx, inets, mnesia]
        },
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"},
        {overlay, 
            [
                {template, "config/apikey.config", "{{output_dir}}/releases/{{default_release_version}}/apikey.config"}
            ]
        }
    ]
}.

{shell, 
    [
        {config, "config/sys.config.shell"},
        {apps, [fiftypm_api]}
    ]
}.

{dist_node, 
    [
        {name, svr},
        {setcookie, fiftypm_api_cookie}
    ]
}.

{profiles, 
    [
        {stg_cohost, % Special profile used if staging deployed on the production cluster
            [
                {erl_opts, 
                    [
                        {d, 'STAGING'},
                        {d, 'COHOST_STAGING'}
                    ]
                }
            ]
        },
        {dev_cohost, 
            [
                {erl_opts, 
                    [
                        {d, 'DEVELOP'},
                        {d, 'COHOST_STAGING'}
                    ]
                }
            ]
        }
    ]
}.