[
    {mnesia, [{dir, "/deploy/data/fiftypm_api"}]},
    "oauth.config",
    "oauth.secret.config",

    %% work around a rebar3 bug, the following prefixed with "config" for rebar3 shell to find the config
    %% relx does not need the prefix, but rebar3 shell will silent ignore config files that are not found
    "config/oauth.config",
    "config/oauth.secret.config"
].